[Unit]
Description=vlan
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=sh -c "/usr/local/bin/vlan.sh -i 10 -i 20 -i 31 ens3"
ExecStop=sh -c "/usr/local/bin/vlan.sh -d -i 10 -i 20 -i 31 ens3"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
