[Unit]
Description=vlan
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/vlan.sh -i "10 20" ens18
ExecStop=/usr/local/bin/vlan.sh -d -i "10 20" ens18
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

